{:source-paths
 ["src"]

 :dev-http {8080 "public"}

 :dependencies
 [[instaparse "1.4.10"]]

 :builds
 {:app {:target :browser
        :compiler-options {:optimizations :simple}
        :modules {:main {:entries [space.main
                                   space.parser]}}}}}
